<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBAQ2Ob6TXW2wKcO4LFoS-Zc5ffhoY99WY</string>
	<key>GCM_SENDER_ID</key>
	<string>533328201740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.kiishi.klina</string>
	<key>PROJECT_ID</key>
	<string>klina-cafdf</string>
	<key>STORAGE_BUCKET</key>
	<string>klina-cafdf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533328201740:ios:8a03cbd59acb0093d38629</string>
</dict>
</plist>